*.tar.gz filter=lfs diff=lfs merge=lfs -text
data/example_reference_tensors_chr1.tar.gz filter=lfs diff=lfs merge=lfs -text
data/example_read_tensors_chr1_channels_last.tar.gz filter=lfs diff=lfs merge=lfs -text
